code[class*="language-"],
pre[class*="language-"] {
  color: #657b83;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fdf6e3;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
}

.token.punctuation {
  color: #586e75;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #268bd2;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #2aa198;
}

.token.operator,
.token.entity,
.token.url {
  color: #657b83;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #859900;
}

.token.function,
.token.class-name {
  color: #b58900;
}

.token.regex,
.token.important,
.token.variable {
  color: #cb4b16;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
